<div class="container">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light cursor">
        <div class="collapse navbar-collapse" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
            <div class="mx-auto">
                <a class="navbar-brand">SQL Injection - {{level}}</a>
            </div>           
        </div>
    </nav>
    <br><br><br>
        <div>
            <h2>
                SQL Injection.
            </h2>
            <h4>
                Page to exploit the Sql injection vulnerability.
            </h4>
            
        </div>
    <div *ngIf="!findDone">
        <div>
            <br>
            <h6>
                If you want all the movies to be shown, click on the button .
            </h6>
            <div>
                <button class="btn btn-outline-secondary" (click)="showAll()">Show All!</button>
            </div>
        </div>
        <!-- Form to exploit the vulnerability -->
        <div>
            <br>
            <h6>
                To find a movie by its director fill out the following form.
            </h6>
            <form (ngSubmit)="find(filmForm.value)" [formGroup]="filmForm">
                <div class="form-group">
                    <label>Film director name: </label>
                    <input type="text" class="form-control" placeholder="Enter director name" formControlName="directorName">
                    <small class="form-text text-muted">Hint: the database table in which the movie is searched has 4 columns and sql 
                        query is SELECT * FROM FILMS WHERE DIRECTOR = form.director</small>  
                    <br> 
                    <small class="form-text text-muted">Hint: there are flms created by: "Malcolm D. Lee", "Jaume Collet-Serra", 
                        "Santiago Segura", "Cate Shortland", "Everardo Gout" and "M. Night Shyamalan".</small>   
                </div>
                <br>
                <div *ngIf="filmIsEmpty">
                    <div class="alert alert-warning">Film not found.</div>
                </div>
                <div>
                    <table>
                        <tr>
                            <td>
                                <input class="btn btn-outline-secondary" type="button" value="Go Back"
                                    (click)="this.sharedService.resetComponentAndRedirectInit()">
                            </td>
                            <td>
                                <input type="submit" class="btn btn-outline-secondary" [disabled]="!filmForm.valid" value="FIND!">
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-secondary" (click)="open(mymodal,mymodalSafe)">Show code</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
        <ng-template #mymodal let-modal>
            
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Sql injection vulnerable code</h4>
            </div>
            <div class="modal-body">
                <img src="assets/img/sqli.png" class="rounded mx-auto d-block">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Ok</button>
            </div>
            
        </ng-template>

        <ng-template #mymodalSafe let-modal >
            
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Sql safe code</h4>
            </div>
            <div class="modal-body">
                <img src="assets/img/sqliSafe.png" class="rounded mx-auto d-block">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Ok</button>
            </div>
            
        </ng-template>
    </div>  

   

    <!-- TEmplate to show results -->
    
    <div *ngIf="findDone && !filmIsEmpty">
        <h6>Found films</h6>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <td>
                        Year
                    </td>
                    <td>
                        Director
                    </td>
                    <td>
                        Title
                    </td>
                </tr>
            </thead>
            <tr *ngFor="let film of this.films; let i = index" >
                <td>
                    {{film.year}}
                </td>
                <td>
                    {{film.director}}
                </td>

                <td>
                    {{film.title}}
                </td>
            </tr>
            <tr>
                <input class="btn btn-outline-secondary" type="button" value="Go Back"
                    (click)="goInitComponent()">
            </tr>

        </table>
        <div *ngIf="findByDirectorMethod && films.length>1">
            <div class="alert alert-warning">GOOD JOB!. You are a HACKER!.</div>
        </div>
    </div>     

</div>