<div class="container">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light cursor">
        <div class="collapse navbar-collapse" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
            <div class="mx-auto">
                <a class="navbar-brand">XSS - {{level}}</a>
            </div>           
        </div>
    </nav>
    <br><br><br>
        <div>
            <h2>
                Cross Site Scripting.
            </h2>
            <h4>
                Page to exploit the Cross Site Scripting vulnerability.
            </h4>
            
        </div>
    <div *ngIf="!findDone">
        <!-- Form to exploit the vulnerability -->
        <div>
            <br>
            <h6>
                To find a movie by its director fill out the following form.
            </h6>
            <form (ngSubmit)="find(filmForm.value)" [formGroup]="filmForm">
                <div class="form-group">
                    <label>Film director name: </label>
                    <input type="text" class="form-control" placeholder="Enter director name" formControlName="directorName">
                    <small class="form-text text-muted">Hint: there are flms created by: "Malcolm D. Lee", "Jaume Collet-Serra", 
                        "Santiago Segura", "Cate Shortland", "Everardo Gout" and "M. Night Shyamalan".</small>  
                    <br>
                    <small class="form-text text-muted">Hint: the form validates some elements. </small>  
                </div>
                <br>
                <div *ngIf="filmIsEmpty">
                    <div class="alert alert-warning">Film not found.</div>
                </div>
                <div id="xss">
                </div>
                <div *ngIf="level!=='Easy'">
                    <p>You have serch by: {{director}}</p>
                </div>
                <div>
                    <table>
                        <tr>
                            <td>
                                <input class="btn btn-outline-secondary" type="button" value="Go Back"
                                    (click)="this.sharedService.resetComponentAndRedirectInit()">
                            </td>
                            <td>
                                <input type="submit" class="btn btn-outline-secondary" [disabled]="!filmForm.valid" value="FIND!">
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>

    </div>  

    <!-- TEmplate to show results -->
    
    <div *ngIf="findDone && !filmIsEmpty">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <td>
                        Year
                    </td>
                    <td>
                        Director
                    </td>
                    <td>
                        Title
                    </td>
                </tr>
            </thead>
            <tr *ngFor="let film of this.films; let i = index" >
                <td>
                    {{film.year}}
                </td>
                <td>
                    {{film.director}}
                </td>

                <td>
                    {{film.title}}
                </td>
            </tr>
            <tr>
                <input class="btn btn-outline-secondary" type="button" value="Go Back"
                    (click)="goInitComponent()">
            </tr>

        </table>
    </div>     

</div>
